@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
    overflow-y: hidden;
}

P{
    font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;
}

body {
    background: rgba(0, 0, 0, 0.895);
    font-family: "Roboto", sans-serif;
    margin: 0;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.periodic-table {
    display: grid;
    grid-template-columns: repeat(18, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 5px;
}

button {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: border 0.1s ease-out;
}

button .number {
    font-size: 12px;
    transition: color 0.2s ease;
}

button .symbol {
    font-size: 18px;
    font-weight: bold;
    transition: color 0.2s ease;
}

button .name {
    font-size: 7px;
    transition: color 0.2s ease;
}
.Orange {
    cursor: pointer;
    
}

.Orange .number,
.Orange .symbol,
.Orange .name {
    color: #ffcf76; 
}

.grey {
    cursor: pointer;
    
}

.grey .number,
.grey .symbol,
.grey .name {
    color: rgb(255, 255, 255); 
}

.green {
    cursor: pointer;
    
}

.green .number,
.green .symbol,
.green .name {
    color: rgb(159, 255, 159); 
}

.purple {
    cursor: pointer;
    
}

.purple .number,
.purple .symbol,
.purple .name {
    color: rgb(237, 156, 237); 
}

.yellow {
    cursor: pointer;
    
}

.yellow .number,
.yellow .symbol,
.yellow .name {
    color: rgb(238, 238, 137); 
}

.pink {
    cursor: pointer;
    
}

.pink .number,
.pink .symbol,
.pink .name {
    color: pink; 
}

.sky {
    cursor: pointer;
   
}

.sky .number,
.sky .symbol,
.sky .name {
    color: rgb(143, 215, 244); 
}

.lanthanoid {
    cursor: pointer;
    
}

.lanthanoid .number,
.lanthanoid .symbol,
.lanthanoid .name {
    color: rgb(255, 164, 148); 
}


.actinoid {
    cursor: pointer;
    
}

.actinoid .number,
.actinoid .symbol,
.actinoid .name {
    color: rgb(157, 157, 255); 
}

.Orange:hover {
    cursor: pointer;
    border: 1px solid #ffcf76;
}

.Orange:hover .number,
.Orange:hover .symbol,
.Orange:hover .name {
    color: #ffcf76; 
}

.grey:hover {
    cursor: pointer;
    border: 1px solid whitesmoke;
}

.grey:hover .number,
.grey:hover .symbol,
.grey:hover .name {
    color: whitesmoke; 
}

.green:hover {
    cursor: pointer;
    border: 1px solid rgb(159, 255, 159);
}

.green:hover .number,
.green:hover .symbol,
.green:hover .name {
    color: rgb(159, 255, 159); 
}

.purple:hover {
    cursor: pointer;
    border: 1px solid rgb(237, 156, 237);
}

.purple:hover .number,
.purple:hover .symbol,
.purple:hover .name {
    color: rgb(237, 156, 237); 
}

.yellow:hover {
    cursor: pointer;
    border: 1px solid rgb(238, 238, 137);
}

.yellow:hover .number,
.yellow:hover .symbol,
.yellow:hover .name {
    color: rgb(238, 238, 137); 
}

.pink:hover {
    cursor: pointer;
    border: 1px solid pink;
}

.pink:hover .number,
.pink:hover .symbol,
.pink:hover .name {
    color: pink; 
}

.sky:hover {
    cursor: pointer;
    border: 1px solid rgb(143, 215, 244);
}

.sky:hover .number,
.sky:hover .symbol,
.sky:hover .name {
    color: rgb(143, 215, 244); 
}

.lanthanoid:hover {
    cursor: pointer;
    border: 1px solid rgb(255, 164, 148);
}

.lanthanoid:hover .number,
.lanthanoid:hover .symbol,
.lanthanoid:hover .name {
    color: rgb(255, 164, 148); 
}


.actinoid:hover {
    cursor: pointer;
    border: 1px solid rgb(157, 157, 255);
}

.actinoid:hover .number,
.actinoid:hover .symbol,
.actinoid:hover .name {
    color: rgb(157, 157, 255); 
}
.small-alert {
    width: 300px; 
}

.small-alert .swal2-title {
    font-size: 18px; 
}

.small-alert .swal2-content {
    font-size: 14px; 
}

.small-alert .swal2-icon {
    font-size: 24px; 
}

.full-screen-overlay {
    height: 100vh;
}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.preloader-content {
    text-align: center;
    color: white;
}

.preloader-content h1 {
    margin: 0;
    font-size: 2em;
    font-family: Arial, sans-serif;
}

.loading-line {
    width: 0;
    height: 5px;
    background-color: white;
    border-radius: 5rem;
    margin: 20px auto;
    animation: loading 4s infinite; 
}

@keyframes loading {
    0% {
        width: 0;
    }
    50% {
        width: 400px; 
    }
    100% {
        width: 0;
    }
}

/* .lanth{
    position: absolute;
    color: whitesmoke;
    z-index: 99;
    top: 30rem;
    left: 8rem;
} */

